/*Miriam Walsh 2993387*/
/*Reset default browser settings for entire document*/
*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	}
/*Set font sizes for headings*/
h1{
	font-size: 1.5em;
	}
h2{
	font-size: 1.3em;
	}
h3{
	font-size: 1.2em;
	}
/*Heading of Page styling*/
.heading{
	display: inline;
	margin-left: 80px;
/*Larger font size for heading*/
	font-size: 3em;
	font-style: italic;
/*Hex color for heading*/
	color: #8A2BE2;
/*Space out the letters in the heading*/
	letter-spacing: 0.1em;
	}
/*Styling of body of homepage*/
.theme-home{
/*Image for the background, has been formatted to a smaller size so bandwidth will not be affected LINK BB*/
/*Image taken from online source, Tumarkin, S,(2018), mentioned in Bib. section. */
	background-image: url("skysmall.jpg");
/*Cover background of webpage with image*/
	background-size: cover;
	}
.theme-about{
/*Background color gradient, helped with use of a Hex code website, referenced in Bib. section W3 Schools, (2018). */
	background: linear-gradient(to bottom, #33ccff 0%, #ff99cc 100%);
}
.theme-bb{
/*Image for the background, has been formatted to a smaller size so bandwidth will not be affected LINK BB*/
	background-image: url("skysmall.jpg");
/*Cover background of webpage with image*/
	background-size: cover;
	}
/*********** HEADER STYLING *********/
.theme-header{
/*White background for header section*/
	background: #fff;
}
/*pseudo class - creates a block for the logo in the header section to appear correctly*/
.theme-header::after{
/*Creates empty space to clear, Code learned from W3 Schools (2018) referenced in Bib. Section */
	content: "  ";
/*Clears floated elements so that left and right are both cleared */
	clear: both;
	display: block;
	visibility: none;
	}
/*Float logo to left*/
.theme-logo{
	float: left;
	}
/*********** NAV TOP *********/
/*Class for the Navigation list*/
.theme-nav{
/*Float to the right of the screen*/
	float: right;
	width:300px;
	}
/*Class for the Navigation/Unordered list styling*/
.theme-nav ul{
	margin-bottom: 0px;
/*pushes the nav to the left*/
	margin-left: 70px;
	}
.theme-nav ul li{
/*Display the navigation panel in line*/
	display: inline-block;
	padding: 5px 5px;
	}
.theme-nav ul li a{
/*Select a elements within the list   */
	display: 10px 20px;
/*Removes underline */
	text-decoration: none;
	color: #303030;
/*gives some space between nav elements*/
	line-height: 70px;
	}
/*Pseudo class hover to create a different color when user hovers the a element*/
.theme-nav ul li a:hover{
	color: #3e99ff;  /*a light blue hex color*/
	}
/*****CONTAINER STYLING****/
/*Container class to style the entire page container within a div */
.container{
/*Sets max with of the container*/
	max-width: 1000px;
/*order: top/Bottom =0; Left/right auto, left and right margin will take auto margin according to the width of the element and the width of the container.*/
	margin: 0 auto;
	}
/*Styling of the Div to contain main content of the page*/
.theme-content{
	margin-top: 30px;
	margin-bottom:30px;
/*improve the browser's handling of small windows if necessary with the max-width property*/
	max-width: 65%;
	float: right;
	}
p{
	margin-bottom: 20px;
/*Justify text so that the web pages are more user friendly and readable*/
	text-align: justify;
/*set a line height so that the text is more readable */
	line-height: 25px;
	}
/*Style first letter of every paragraph with a large font*/
article p::first-letter {
    font-size: 150%;
    color: #8A2BE2;
	}
/*Style headings with a bottom margin*/
h1, h2, h3, h4, h5, h6{
	margin-bottom: 10px;
	}
/*Unordered list styling*/
ul{
	margin-left: 20px;
	margin-bottom: 20px;
	}
/*how to display any images*/
img{
	display: block;
/*Make image responsive with the max -width element*/
	max-width: 100%;
	margin-left:20px;
	}
/*Space between the figure and the next section*/
.figureSpace{
	margin-bottom: 20px;
	}
.theme-sidebar{
/*Set margins so that there is a visual space on the page top and bottom*/
	margin-top: 60px;
	margin-bottom:30px;
	max-width: 30%;
/*Float of left of the page*/
	float: left;
	width: 30%;
	}
/*Remove the underline from the links in sidebar*/
.theme-sidebar a{
	text-decoration: none;
	}
/*The following pseudo classes code alters the color of the links*/
.theme-sidebar a:link {
    color: blue;
	}
/*visited link */
.theme-sidebar a:visited {
    color: black;
	}
/*hover over link */
.theme-sidebar a:hover {
    color: #3e99ff;
	}
/*selected link */
.theme-sidebar a:active {
    color: yellow;
	}
.theme-sidebar div{
	  /*turn div background white   */
	background: #fff;
	padding: 5px;
	/*Give a rounding effect on the corners a higher % would cause a full circle*/
	border-radius: 10%;
    background-color: #fff;
	/* This code creates a cloud effect behind the sidebar for a visual tech related look. I utilized some online guides for the basis of the design, however, I used my own color codes for the cloud effect. The website is cited in the Bib, under coding section. Boyd, W. (2014). */
    box-shadow:
		/* order: x offset, y offset, blur size, spread size, color*/
        0 0 30px 15px #fff,  /* inner white */
        0 0 50px 30px #fff, /* middle white */
        0 0 35px 22px #78BEE6; /* outer light blue, hex number got from hex color finder  */
	}
/*Remove the bullet points from the List in sidebar*/
.theme-sidebar li{
	font-weight: bold;
	list-style: none;
	line-height: 30px;
	}
.styleHeading{
/*Centering the text was not an option as it looked off, therefore a small margin of 40 px worked better*/
	margin-left: 40px;
	}
.theme-article{
	background: #fff;
	padding: 30px;
	}
.theme-section{
	background: #fff;
	padding: 0px;
	}
/* Clearfix a , referenced in bib section, W3 Schools,(2018)  */
.clearfix::after{
/*pseudo class - creates a block for the logo in the header section to appear correctly*/
	content: "  ";
/*clear both left and right of float elements */
	clear: both;
	display: block;
	/*visibility: none;*/
}
.theme-footer{
/*clear both sides for appearance of the footer*/
	clear:both;
	background: #fff;
/*align the text in the footer to center*/
	text-align: center;
	padding: 20px;
	}
/***********DFINITION BOX ********************/
.definitionBox{
	max-width: 850px;
	border-style: none;
	background-color: white;
/* Creates 20px of space between the bottom of the Definition box to the next section */
	margin-bottom: 20px;
	}
/*Style h3 heading of definitions box title*/
.theme-definitions h3{
	font-weight: bold;
	margin-bottom:20px;
	}
/*Style definition term */
.theme-definitions dt{
	padding-left: 20px;
	font-weight: bold;
	color: #8A2BE2
	}
/*Style definitions*/
.theme-definitions dd{
	padding-left: 55px;
	font-weight: bold;
	}
/********URL ANATOMY BOX *********/
.URLBox{
	max-width: 850px;
/*no border as in previous definition box*/
	border-style: none;
	background-color: white;
	margin-bottom: 20px; /* Creates 20px of space between the bottom of the Definition box to the next section */
	}
/*Definition term styling*/
.theme-URL dt{
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
    font-weight: bold;
    color: #8A2BE2;
    }
/*Pseudo class to put colon after definition term*/
 .theme-URL dt::after{
    content: ":";
    }
.theme-URL dd{
/*Style definitions after the colon with spacing equivalent to a table */
    margin: 0 0 0 110px;
    padding: 0 0 0.5em 0;
	font-weight: bold;
	}
/****BIB Styling******/
.theme-bbContainer{
	max-width: 1000px;
	margin: 0 auto;
	}
.theme-bbContent{
	margin-top: 50px;
	margin-bottom:30px;
/*Margin-right stops the text from overflowing to the right and becoming invisible/sloppy*/
	margin-right: 20px;
/*improves the browser's handling of small windows with the max-width property*/
/*Width 100% as the BB can be displayed properly*/
	max-width: 100%;
	}
.theme-bbSection{
	background: #fff;
/*padding ensures the text is in the section and not outside it*/
	padding: 15px;
	padding-top: 30px;
	}
.bbList{
    margin:1em;
    padding:0 0 0 1em;
/*clears margin for the li elements*/
    overflow:hidden;
	}
/*******ABOUT ME SECTION**********/
.theme-Me{
	background: #fff;
	padding: 35px;
	}
/*Same as before, make the first letter big in each paragraph using pseudo class first-letter*/
.theme-Me p::first-letter {
    font-size: 150%;
    color: #8A2BE2;
	}
.theme-photos{
/*Float the photo aside to the right*/
	float: right;
/*30% max-width gives space for the main section*/
	max-width: 30%;
	margin-top: 30px;
	margin-bottom:30px;
	}
/*container div for the about me section*/
.aboutContainer{
	max-width: 1000px;
	margin: 0 auto;
	}
.theme-aboutContent{
	margin-top: 30px;
	margin-bottom:30px;
/*improves the browser's handling of small windows with the max-width property*/
/*max width of 65% in order to give space for the theme-photos. */
	max-width: 65%;
/*float to the left of the page*/
	float: left;
	}
